@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

.skills{
  display: flex;
}
.skpo{
  margin: 10%;
  margin-right: 5px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Sora", sans-serif;
}
p{
  margin: 0;
}
progress {
    width: 200px;
    height: 15px;
    border-radius: 15px;
    margin: 0;
  }
  progress::-webkit-progress-bar {
    background-color: #e7e6e6;
    border-radius: 15px;
  }
  
  progress::-webkit-progress-value {
    background-image: linear-gradient(45deg, #3e01a7, #7522b5, #a444c4, #d266d2, #eb78c7, #d266d2, #a444c4, #7522b5, #3e01a7);
    border-radius: 15px;
  }